<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">
Budynek usługowy znajduje się na głównej ulicy w miejscowości Busko-Zdrój i ma powierzchnię użytkową 200m2. 
Na parterze są 2 lokale po 100m2, a na pierwszym piętrze będzie lokal 200m2.
Budynek ukończony w roku 2005 w stanie bardzo dobrym, ocieplony styropianem i otynkowany.
Obiekt jest częściowo podpiwniczony. 
Do dyspozycji najemcy jest pomieszcze magazynowe w piwnicy o powierzchni 15m2.
Obecnie na parterze znajduje się działający lokal handlowo-usługowy składający się z części sprzedażowej i magazynowej z witryną umożliwiającą ekspozycję reklamy.
Budynek posiada drzwi i okna antywłamaniowe. 
Wejście do lokalu od strony ciągu komunikacyjnego. Dla personelu rownież od strony zaplecza. 
Posesja za budynkiem jest w całości ogrodzona. 
Teren bezpośrednio przed budynkiem z 4 stanowiskami do parkowania został wybrukowany kostką betonową.
Bezpośrednio po drugiej stronie ulicy znajduje się publiczny duży parking na ponad 50 samochodów.
Sąsiednie budynki to Zakład Ubezpieczeń Społecznych oraz restauracja i lokale handlowo-usługowy z elektroniką.
Naprzeciwko budynku znajduje sie ośrodek szkolno-sportowy (pływalnia miejska, boiska szkolne).
Istnieje możliwość podłączenia prądu trójfazowego. 
</p>

<a href="#gallery" class="btn btn-dark btn-lg">Zapraszamy do galerii</a>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
