<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">
        Budynek usługowy znajduje się na głównej ulicy w miejscowości Busko-Zdrój i ma powierzchnię użytkową 200m2.
Budynek ukończony w roku 2005 w stanie bardzo dobrym, ocieplony styropianem i otynkowany.
Obiekt jest częściowo podpiwniczony. Obecnie na parterze znajduje się działający lokal handlowy składający się z części sprzedażowej i magazynowej.
Budynek posiada drzwi i okna antywłamaniowe. Posesja za budynkiem jest w całości ogrodzona. 
Teren bezpośrednio przed budynkiem z 4 stanowiskami do parkowania został wybrukowany kostką betonową.
Bezpośrednio po drugiej stronie ulicy znajduje się publiczny duży parking na ponad 60 samochodów.
</p>

<a href="#gallery" class="btn btn-dark btn-lg">Zapraszamy do galerii</a>

      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
