<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <p class="lead">
        Budynek usługowy znajdujący się na głównej ulicy w Busku-Zdrój o powierzchni użytkowej 200m2, w przedniej części utwardzonej i wybrukowanej.
Budynek został wybudowany w roku 2005 z cegły, ocieplony styropianem i otynkowany. Dach orynnowany. Budynek posiada odprowadzenie deszczówki.
Obiekt jest częściowo podpiwniczony. Obecnie na parterze znajduje się działający lokal handlowy składający się z części sprzedażowej.
Budynek posiada drzwi i okna antywłamaniowe. Posesja za budynkiem jest w całości ogrodzona. 
Wjazd zostały wybrukowane kostką betonową na 4 stanowiska.
Przed budynkiem znajduje się wybrukowany duży parking na ponad 60 samochodów.
</p>
<p>

ZAPRASZAMY NA PREZENTACJĘ
</p>
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
