<section id="city" class="city">
  <div class="container text-center">

    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

<p>
 Busko-Zdrój -  miasto uzdrowiskowe, w województwie świętokrzyskim o kilkusetletnich tradycjach. Prawa miejskie uzyskało w roku 1287.  Liczba mieszkańców to 16.5 tysiąca, co plasuje miasto na 7 miejscu w województwie świętokrzyskim pod względem wielkości. Ze względu na swoje położenie w rejonie malowniczej doliny Nidy, bogactwo wód mineralnych i szerokią ofertę uzdrowiskową jest chętnie odwiedzane przez turystów z Polski i zagranicy.  
 Pierwsze zmianki o uzdrowiskowych zasobach miasta sięgają roku 1252, ale dopiero w latach '90 XIX wieku miasto stało się jednym z najważniejszych uzdrowisk w kraju.
</p><P>
 Miasto posiada bogatą ofertę w zakresie wydarzeń kulturalnych m.in <a href="https://pl.wikipedia.org/wiki/Mi%C4%99dzynarodowy_Festiwal_Muzyczny_im._Krystyny_Jamroz_w_Busku-Zdroju">Międzynarodowy Festiwal Muzyczny im. Krystyny Jamroz</a>.
</p><P>
 Więcej o Busku-Zdroju można dowiedzieć się wchodząc na <a href="https://pl.wikipedia.org/wiki/Busko-Zdr%C3%B3j">strone wikipedii</a>. 
</p>
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
