<section id="city" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">

<p>
 Busko-Zdrój jest miastem uzdrowiskowe w Polsce, w województwie świętokrzyskim. Pozyskało prawo miejskie od roku 1287. Wszystkich mieszkańców jest 16.5 tysiąca co pod względem mieszkańców uplasowuje na 7 miejscu w województwie świętokrzyskim. Busko-Zdrój jest najbardziej nasłonecznionym miastem Polski. 
 Pierwsze zmianki o uzdrowiskowych zasobach miasta sięgają roku 1252, ale dopiero w latach 90 XIX wieku miasto stało się jedno z najwaniejszych uzdrowisk w kraju.
</p><P>
 W miescie Busko-Zdrój odbywają się liczne festiwale kulturowo-rozrywkowe m.in <a href="https://pl.wikipedia.org/wiki/Mi%C4%99dzynarodowy_Festiwal_Muzyczny_im._Krystyny_Jamroz_w_Busku-Zdroju"> Międzynarodowy Festiwal Muzyczny im. Krystyny Jamroz</a>  
 oraz bardzo czesto są kręcone ujęcia z serialu <a href="https://pl.wikipedia.org/wiki/Ojciec_Mateusz">Ojciec Mateusz</a>.
</p><P>
 Więcej o Busku mozna poczytać na <a href="https://pl.wikipedia.org/wiki/Busko-Zdr%C3%B3j">stronie wikipedii</a>. 
</p>

<video width="300" height="150" controls="controls"  playsinline autoplay muted loop class="video-stream" x-webkit-airplay="allow"  >
  <source src="https://www.youtube.com/watch?v=10Fg0HP8288"  type="video/mp4" />
  Your browser doesn't support HTML5 video. Here's a <a target="_blank" href="#">link</a> to download the video.
  
  </video>



      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
