<section id="city" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Lokalizacja, Lokalizacja, Lokalizacja.</h2>
        <hr class="small">
        <div class="row">
          
        </div>
        <div class="row">
           <div class="col-md-6">
             Budynek:
          </div>
          <div class="col-md-6">
            <p>
           100 m², 2 pomieszczenia, 1 łazienka, obiekt handlowo-usługowy, 1 piętro; rok budowy: 2000; stan: dobry
 technika budowy: mieszana; materiał budowy: gazobeton; pokrycie dachu: blacha
 instalacje: stan dobry; okna: plastikowe
 wejście z ulicy, witryna, dostosowany do osób niepełnosprawnych
 przeznaczenie handlowo-usługowe
            </p>
          </div>
        </div>
        
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
