<section id="gallery" class="portfolio">
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <h2>Galeria Lokalu</h2>
        <hr class="small">
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal2-1.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal2-1.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal2-2.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal2-2.jpg">
              </a>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal2-3.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal2-3.jpg">
              </a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal2-4.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal2-4.jpg">
              </a>
            </div>
        </div>
        <div class="row">

           <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal2-5.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal2-5.jpg">
              </a>
            </div>
          </div>
           <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal2-6.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal2-6.jpg">
              </a>
            </div>
          </div>


        </div>
        <div class="row">

           <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal-1.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal-1.jpg">
              </a>
            </div>
          </div>
           <div class="col-md-6">
            <div class="portfolio-item">
              <a href="img/gal/gal-2.jpg" class="fancybox-thumbs" data-fancybox-group="thumb">
                <img class="img-portfolio img-responsive" src="img/gal/gal-2.jpg">
              </a>
            </div>
          </div>


        </div>
        <!-- /.row (nested) -->
      </div>
      <!-- /.col-lg-10 -->
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
</section>
