<!-- jQuery -->
<script src="js/jquery.js"></script>

<!-- Add mousewheel plugin (this is optional) -->
<script type="text/javascript" src="js/jquery.mousewheel-3.0.6.pack.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="js/bootstrap.min.js"></script>

<script src="js/mediaelement-and-player.min.js"></script>


<!-- fancyBox -->
<script src="js/jquery.fancybox.js?v=2.1.5"></script>
<script src="js/jquery.fancybox-thumbs.js?v=1.0.7"></script>
<script src="js/jquery.fancybox-media.js?v=1.0.6"></script>
<script src="js/jquery.fancybox-buttons.js?v=1.0.5"></script>

	

	

<!-- Custom Theme JavaScript -->
<script src="js/custom.js"></script> 

